<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="z-index: -1;">
                <a href="{% url 'hsk' 1%}">

                <img src="{% static '1.png'%}" class="d-block w-100" alt="..." height="450px" style="object-fit: cover;padding: 20px;">
                <p style="color: #111111;text-align: center;">Klik gambar untuk mempelajari lebih lanjut</p>
            </div>
          <div class="carousel-item" style="z-index: -1;"><a href="#">
            <a href="{% url 'hsk' 2%}">

                <img src="{% static '2.png'%}" class="d-block w-100" alt="..." height="450px"  style="object-fit: cover;padding: 20px;">
            </a>
            <p style="color: #111111;text-align: center;margin-top: -10px;">Klik gambar untuk mempelajari lebih lanjut</p>
          </div>
          <div class="carousel-item" style="z-index: -1;">
            <a href="{% url 'hsk' 3%}">
                <img src="{% static '3.png'%}" class="d-block w-100" alt="..." height="450px"  style="object-fit: cover;padding: 20px;">
            </a>
            <p style="color: #111111;text-align: center;">Klik gambar untuk mempelajari lebih lanjut</p>
          </div>
          <div class="carousel-item" style="z-index: -1;">
            <a href="{% url 'hsk' 4%}">
                <img src="{% static '4.png'%}" class="d-block w-100" alt="..." height="450px" style="object-fit: cover;padding: 20px;">
            </a>
                <p style="color: #111111;text-align: center;">Klik gambar untuk mempelajari lebih lanjut</p>
            </div>
          <div class="carousel-item" style="z-index: -1;">
            <a href="{% url 'hsk' 5%}">

                <img src="{% static '5.png'%}" class="d-block w-100" alt="..." height="450px" style="object-fit: cover;padding: 20px;">
            </a>
            <p style="color: #111111;text-align: center;">Klik gambar untuk mempelajari lebih lanjut</p>
          </div>
          <div class="carousel-item" style="z-index: -1;">
            <a href="{% url 'hsk' 6%}">

                <img src="{% static '6.png'%}" class="d-block w-100" alt="..." height="450px" style="object-fit: cover;padding: 20px;">
            </a>
            <p style="color: #111111;text-align: center;">Klik gambar untuk mempelajari lebih lanjut</p>
          </div>
        </div>
</body>
</html>